@media screen and (min-width: 1920px) {
	body {
		width: 1920px;
	}

	section#title {
		padding-left: 196px;
		margin-bottom: 30px;
		height: 130px;
		background: transparent url("../images/logo_lt.png") no-repeat left center;
	}

	.hdr__holder h1 {
		font-size: 23pt;
	}

	.hdr__holder h6 {
		font-size: 12pt;
	}

	form#search {
		position: absolute;
		top: 10px;
		right: 5%;
	}

	nav.mainmenu {
		padding: 10px 0;
		width: 100%;
		justify-content: center;
		font-size: 15pt;
		font-family: "Roboto Condensed", sans-serif;
	}

	div.extra__menu {
		display: none;
	}

	.mainmenu > * {
		margin: 0 25pt;
		color: var(--mmnu-clr);
		border-bottom: 1px dotted var(--mmnu-clr);
	}

	div.subpanel {
		padding: 10px 0;
		background-color: var(--def-bgr);
		border: 1px solid #ddd;
		border-radius: 5px;
		box-shadow: 6px 6px 8px rgba(0,0,0,0.75);
		opacity: .9;	
	}

	.subpanel > a {
		margin: 1px 0pt;
		padding: 2px 12pt 3px;
		color: var(--mmnu-clr);
		text-decoration: none;
	}

	.subpanel > a:hover {
		color: var(--mmnu-clr);
		background-color: var(--ftr-clr);
		text-decoration: underline;
	}

	nav.sq__ctrls {
		display: none;
	}

	section.main__sheet {
		margin-bottom: 120px;
		flex-basis: 800px;
	}

	.main__sheet article {
		padding: 35px 25pt;
	}

	.main__sheet section.zwei__spalte {
		padding: 15px 20pt;
	}

	aside.page__aside {
		padding: 35px 10pt 80px 10pt;
		flex-basis: 20%;
	}

	.aside__left {
		display: flex;
	}

	.aside__right {
		display: flex;
	}

	section#news {
		padding: 0 10pt 35px;	
	}

	div.list__container {
		flex-direction: column;
	}

	a.extra__news {
		display: none !important;
	}

	footer {
		padding: 50px 0 35px;
		justify-content: center;
	}

	article.footer {
		margin: 0 1% 10px;
	}

	article.foot__logo {
		padding-left: 124px;
		background: transparent url("../images/logo_dk.png") no-repeat left top;
	}

	article.foot__links {
		flex-direction: column;
		display: flex;
	}

}

@media screen and (min-width: 1200px) and (max-width: 1919px) {
	body {
		width: 100%;
	}

	section#title {
		padding-left: 196px;
		margin-bottom: 30px;
		height: 130px;
		background: transparent url("../images/logo_lt.png") no-repeat left center;
	}

	.hdr__holder h1 {
		font-size: 23pt;
	}

	.hdr__holder h6 {
		font-size: 12pt;
	}

	form#search {
		position: absolute;
		top: 10px;
		right: 5%;
	}

	nav.mainmenu {
		padding: 10px 0;
		width: 100%;
		justify-content: center;
		font-size: 15pt;
		font-family: "Roboto Condensed", sans-serif;
	}

	div.extra__menu {
		display: none;
	}

	.mainmenu > * {
		margin: 0 25pt;
		color: var(--mmnu-clr);
		border-bottom: 1px dotted var(--mmnu-clr);
	}

	div.subpanel {
		padding: 10px 0;
		background-color: var(--def-bgr);
		border: 1px solid #ddd;
		border-radius: 5px;
		box-shadow: 6px 6px 8px rgba(0,0,0,0.75);
		opacity: .9;	
	}

	.subpanel > a {
		margin: 1px 0pt;
		padding: 2px 12pt 3px;
		color: var(--mmnu-clr);
		text-decoration: none;
	}

	.subpanel > a:hover {
		color: var(--mmnu-clr);
		background-color: var(--ftr-clr);
		text-decoration: underline;
	}

	nav.sq__ctrls {
		display: none;
	}

	section.main__sheet {
		margin-bottom: 120px;
		flex-basis: 800px;
	}

	.main__sheet article {
		padding: 35px 25pt;
	}

	.main__sheet section.zwei__spalte {
		padding: 15px 20pt;
	}

	aside.page__aside {
		padding: 35px 10pt 80px 10pt;
		flex-basis: 20%;
	}

	.aside__left {
		display: flex;
	}

	.aside__right {
		display: flex;
	}

	section#news {
		padding: 0 10pt 35px;	
	}

	div.list__container {
		flex-direction: column;
	}

	a.extra__news {
		display: none !important;
	}

	footer {
		padding: 50px 0 35px;
		justify-content: center;
	}

	article.footer {
		margin: 0 1% 10px;
	}


	article.foot__logo {
		padding-left: 124px;
		background: transparent url("../images/logo_dk.png") no-repeat left top;
	}

	article.foot__links {
		flex-direction: column;
		display: flex;
	}
}

@media screen and (min-width: 890px) and (max-width: 1199px) {
	body {
		width: 100%;
	}

	section#title {
		padding-left: 196px;
		margin-bottom: 30px;
		height: 130px;
		background: transparent url("../images/logo_lt.png") no-repeat left center;
	}

	.hdr__holder h1 {
		font-size: 23pt;
	}

	.hdr__holder h6 {
		font-size: 12pt;
	}

	form#search {
		position: absolute;
		top: 10px;
		right: 5%;
	}

	nav.mainmenu {
		width: calc(800px - 50pt);
		justify-content: space-between;
		font-size: 15pt;
		font-family: "Roboto", sans-serif;
	}

	div.extra__menu {
		display: none;
	}

	.mainmenu > * {
		color: var(--mmnu-clr);
		border-bottom: 1px dotted var(--mmnu-clr);
	}

	div.subpanel {
		padding: 10px 0;
		background-color: var(--def-bgr);
		border: 1px solid #ddd;
		border-radius: 5px;
		box-shadow: 6px 6px 8px rgba(0,0,0,0.75);
		opacity: .9;	
	}

	.subpanel > a {
		margin: 1px 0pt;
		padding: 2px 12pt 3px;
		color: var(--mmnu-clr);
		text-decoration: none;
	}

	.subpanel > a:hover {
		color: var(--mmnu-clr);
		background-color: var(--ftr-clr);
		text-decoration: underline;
	}
	
	nav.sq__ctrls {
		display: none;
	}

	section#mainpad {
		flex-direction: column;
		align-items: center;
	}

	section.main__sheet {
		width: 800px;
		margin-bottom: 0px;
	}

	.main__sheet article { 
		padding: 15px 25pt;
	}

	.main__sheet section.zwei__spalte {
		padding: 15px 20pt;
	}

	aside.page__aside {
		padding: 5px 25pt 35px;
	}

	.aside__left {
		display: none;
	}

	.aside__right {
		width: 800px;
		display: flex;
	}

	section#news {
		padding: 0 25pt 50px;
	}

	div.list__container {
		flex-direction: row;
		justify-content: space-between;
	}

	a.news {
		width: 32%;
	}

	a.extra__news {
		display: none !important;
	}

	footer {
		padding: 50px 0 35px;
		justify-content: center;
	}


	article.footer {
		margin: 0 1% 10px;
	}

	article.foot__logo {
		padding-left: 90px;
		background: transparent url("../images/logo_dk.png") no-repeat left top;
		background-size: 22% auto;
	}

	article.foot__links {
		flex-direction: column;
		display: flex;
	}

}

@media screen and (max-width: 889px) {
	body {
		width: 100%;
	}

	section#title {
		padding-top: 40px;
		height: 130px;
		background: transparent url("../images/logo_lt.png") no-repeat center 25px;
		background-size: 20% auto;
	}

	.hdr__holder h1 {
		font-size: 19pt;
	}

	.hdr__holder h6 {
		font-size: 10pt;
	}

	nav.mainmenu {
		position: absolute;
		top: 140px;
		left: 8%;
		padding: 12px 0;
		flex-direction: column;
		visibility: hidden;
		font-size: 13pt;
		font-family: "Roboto", sans-serif;
		background-color: var(--blk-clr);
		border-radius: 8px;
		box-shadow: 6px 6px 8px rgba(0,0,0,0.75);
		opacity: .9;
	}

	.mainmenu > a, .extra__menu > a, .subpanel > a {
		margin: 5px 0pt;
		padding: 2px 20pt;
		color: var(--link-clr);
		text-decoration: none;
	}

	.mainmenu > a:hover, .extra__menu > a:hover, .subpanel > a:hover {
		background-color: var(--smnu-bgr);
		text-decoration: underline;
	}

	div.subpanel {
		padding: 12px 0;
		background-color: var(--blk-clr);
		border-radius: 8px;
		box-shadow: 6px 6px 8px rgba(0,0,0,0.75);
		opacity: .9;	
	}

	div.extra__menu {
		display: flex;
	}

	div#top__controls {
		display: none;
	}

	nav.sq__ctrls {
		margin-bottom: 10px;
		width: 84%;
		justify-content: flex-start;
		align-items: center;
		display: flex;
	}

	div.sq__mmnu {
		margin: 0 2pt;
		//width: 25px;
		//height: 25px;
		//border-radius: 3px;
		width: 31px;
		height: 31px;
		border: 1px solid #ccc;
		border-radius: 31px;
		//background: var(--def-bgr) url("../images/search.png") no-repeat center center;
		background: transparent url("../images/mnu.gif") no-repeat center center;
		cursor: pointer;
	}

	section#mainpad {
		flex-direction: column;
		align-items: center;
	}

	section.main__sheet {
		width: 100%;
		margin-bottom: 0px;
	}

	.main__sheet article { 
		padding: 15px 9%;
	}

	.main__sheet section.zwei__spalte {
		padding: 15px 8%;
	}

	aside.page__aside {
		padding: 5px 9% 80px;
	}

	.aside__left {
		display: none;
	}

	.aside__right {
		display: flex;
	}

	div.list__container {
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	a.news {
		width: 47%;
	}

	a.extra__news {
		display: block;
	}

	article.foot__logo {
		flex-direction: column;
		align-self: flex-start;
		display: flex;
	}

	article.foot__links {
		display: none;
	}

	footer {
		padding: 90px 35pt 35px;
		justify-content: space-evenly;
		flex-wrap: wrap;
		background: transparent url("../images/logo_dk.png") no-repeat center 30px;
		background-size: auto 40px;
	}

	article.footer {
		width: 290px;
		margin: 3px 5pt 10px;
		justify-content: flex-start;
	}


}

:root {
	--blk-clr:  #000;
	--ftr-clr: #bbb;
	--ftr-lnk: #bbccdd;
	--hdr-clr: #6e6e6e;
	--link-clr: #3399dd;
	--smnu-bgr: #333;
	--mmnu-clr: #555;
	--shdr-clr: #888;
	--def-bgr: #fff;
}

* {
	margin: 0;
	padding: 0;
	font-weight: 400;
	line-height: 1.5;
}

html, body {
	height: 100%;
	background-color: var(--def-bgr);
	display: flex;
}

body {
	margin: auto;
	flex-direction: column;
}

header {
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-grow: 0;
	display: flex;
}

section#top__frame {
	width:  100%;
	justify-content: space-between;
	display: flex;
}

aside.haside {
	flex-grow: 1;
	flex-basis:  30%;
}

.haside__right {
	justify-content: flex-start;
	align-items: flex-end;
	flex-direction: column;
	display: flex;
}

form#search, form#search2 {
	text-align: right;
	flex-direction: row-reverse;
	justify-content: flex-end;
	display: flex;
}

input#search__text, input#search__text2 {
	position: relative;
	transition-property: width;
	transition-duration: 1s;

	outline: none;
}

.sp__hidden {
	width: 0;
	visibility: hidden;
}

.sp__visible {
	left: 13px;
	height: 31px;
	width: 150px;
	padding: 0 15pt 0 8pt;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 0px solid transparent;
	border-top-left-radius: 31px;
	border-bottom-left-radius: 31px;
	visibility: visible;
}

a.search__rq__button {
	width: 31px;
	height: 31px;
	border: 1px solid #ccc;
	border-radius: 31px;
	background: var(--def-bgr) url("../images/search.png") no-repeat center center;
	z-index: 2;
	display: block;
	outline: none;
}

section#title {
	flex-grow:  0;
	flex-direction: column;
	justify-content: center;
	display: flex;
}


div.hdr__holder > * {
	text-align: center;
	white-space: nowrap;
}

.hdr__holder h1 {
	color: var(--hdr-clr);
	line-height: 1.1;
	font-family: "Roboto Condensed", "PT Sans", sans-serif;
}

.hdr__holder h6 {
	color: var(--hdr-clr);
	font-family: "Roboto Condensed", "PT Sans", sans-serif;
}

nav.mainmenu {
	margin-bottom: 20px;
	display: flex;
}

.mainmenu > * {
	text-decoration: none;
	cursor: pointer;
}

div.extra__menu {
	margin: 0;
	border-width: 0;
	flex-direction: column;
}

div.sublevels__menu {
	display: none;
}

div.subpanel {
	position: absolute;
	font-size: 12pt;
	font-family: "Roboto Condensed", sans-serif;
	white-space: nowrap;
	flex-direction: column;
	display: flex;
}

section#mainpad {
	justify-content: center;
	flex-grow: 1;
	display: flex;
}

section.main__sheet {
	flex-direction: column;
	display: flex;
}

section.zwei__spalte {
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: row;
	display: flex;
}

.zwei__spalte article {
	width: 47%;
}

article.photo__collection {
	margin-bottom: 27px;
	min-width: 200px;
	padding: 0 5pt 8px !important;
}

.main__sheet h2, #news h2, .zwei__spalte > h2 {
	margin-bottom: 15px;
	color: #444444;
	font-size: 19pt;
	font-family: "PT Sans", sans-serif;
}

.main__sheet p {
	margin-bottom: 15px;
	color: #444444;
	font-size: 11pt;
	font-family: "Roboto", sans-serif;
}

a.centered {
	width: 100%;
	height: 153px;
	min-width: 160px;
	min-height: 100px;
	background-color: var(--blk-clr);
	text-decoration: none;
	justify-content: center;
	display: flex;
}

div.graphic__contents {
	margin: 1px auto;
	width: 100%;
	heigth: 100%;
	background-size: contain;
}

.photos {
	background: transparent url("../images/building.jpg") no-repeat center center;
}

.videos {
	background: transparent url("../images/building.jpg") no-repeat center center;
}

a.news {
	margin-bottom: 25px;
	text-decoration: none;
	display: block;
}

a.news:hover > p {
	text-decoration: underline;	
}

.news p {
	margin-bottom: 5px;
	margin-left: 4px;
	color: #444444;
	line-height: 1.3;
	font-size: 11pt;
	font-family: "Roboto Condensed", sans-serif;	
}

.news__image {
	width:  100%;
	margin-bottom: 3px;
}

.news__image img {
	margin: 0 5px;
	height: 56px;
	border-radius: 3px;
}

.news__image h6 {
	margin-bottom: 8px;
	color: #333333;
	font-size: 11pt;
	font-weight: 400;
	font-family: "Roboto Condensed", sans-serif;
}

div.list__container {
	margin: 5px 0 20px;
	display: flex;
}

a.all__news {
	margin-left: 4px;
	color: var(--link-clr);
	font-size: 12pt;
	font-weight: 400;
	font-family: "Roboto Condensed", sans-serif;	
}

footer {
	background-color: var(--mmnu-clr);
	flex-grow: 0;
	display: flex;
}

article.footer {
	font-size: 10pt;
	font-family: "Roboto", sans-serif;
}

article.foot__logo {
	min-height: 56px;
}

article.foot__contacts, article.foot__links {
	padding-top: 3px;
}

.footer p {
	margin-bottom: 10px;
	color: var(--ftr-clr);
	line-height: 1;
}

.footer ul {
	color: var(--ftr-clr);
}

.footer li {
	line-height: 1.3;
	margin-left: 16pt;
}

.footer a {
	line-height: 1;
	color: var(--ftr-lnk);
}

.foot__links a {
	margin-bottom: 10px;
}

.on {
	visibility: visible;
}

.off {
	left: 0;
	top: 0;
	z-index: -1;
	visibility: hidden;
}
